
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6  nav__footer">
                <div class="pull-left">
                    <a class="nav__link " href="#/">© Copyright 2017 Nicola Wealth Management</a>
                </div>
            </div>
            <div class="col-lg-6  nav__footer">
                <div class="footer pull-right righ-align-30">
                    <span>
                        <a class="nav__link " href="#/">FAQ</a>|
                        <a class="nav__link " href="#/">Support</a>|
                        <a class="nav__link " href="#/">Legal</a>|
                        <a class="nav__link " href="#/">Privacy Policy</a>|
                        <a class="nav__link " href="#/">Contact Info</a>
                    </span>
                </div>
            </div>
        </div>
    </div>